<% for (const [index, game] of Array.from(games.entries()).reverse()) { %>
  <div class="card mt-4 shadow">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="card-title fw-bold">Game <%= index + 1 %></h3>
        <h5 class="card-subtitle text-muted"><%= game.totalKills %> total kills</h5>
      </div>

      <p class="card-text fw-bold mt-4">Players</p>
      <ul class="list-group">
        <% for (const [id, player] of Object.entries(game.players)) { %>
          <li class="list-group-item">
            <%= `${player.name} (${player.totalKills} total kills)` %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
<% } %>
